<form ngForm #dog="ngForm" (ngSubmit)="addDog(dog)">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" ngModel #name="ngModel" required pattern="[A-Z][a-z]*" />
  <p [hidden]="name.valid || name.pristine" class="alert">Invalid name</p>
  <label for="age">Age</label>
  <input id="age" name="age" type="number" ngModel #age="ngModel" required pattern="[0-9]*"/>
  <p [hidden]="age.valid || age.pristine" class="alert">Invalid age</p>
  <button type="submit">Add Dog</button>
</form>
