<div *ngIf="dogs.length>2">
  <div *ngFor="let dog of dogs">
    <app-presenter-child [dog]="dog"></app-presenter-child>
    <button (click)="bark(dog.name)">BARK</button>
  </div>
</div>
<!-- <button (click)="addDog()">Add Dog</button> -->
<app-add-dog (addEvent)="addDog($event)"></app-add-dog>
