<h1>title: {{title}}</h1>
<!-- <div *ngIf="isActive">div</div> -->
<!-- <p *ngFor="let item of items">{{item.name}}</p> -->
<!-- <button (click)="onClik($event)">CLICK ME</button> -->

<!-- <app-dog></app-dog> -->
<!-- <app-counter></app-counter> -->
<!-- <app-micro-service></app-micro-service> -->

<div class="all">
  <app-menu></app-menu>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
